* {
  margin:0px;
  padding: 0px;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  box-sizing: border-box;
  color:rgb(45, 45, 45);
}

body {
  background-color: rgb(241, 234, 234);
  color: white;
  min-height: 100vh;
  padding: 30px;
  margin: 0;

  display: flex;
  justify-content: center; 
  align-items: center;     
}